.header_body {
  margin: 0;
  padding: 0;
}

.header_site-header {
  font-family: Arial, sans-serif;
  background-color: #12242E;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header_logo img {
  margin: 0; 
  padding: 0;
}

.header_logo h1 {
  margin: 0;
  margin-left: 5px; /* Adjust the value as needed */
  font-size: 24px;
  color: #fff;
}


.header_nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_nav-links li {
  display: inline-block;
  margin-left: 15px;
}

.header_nav-links li:first-child {
  margin-left: 0;
}

.header_nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 8px 12px;
  border-radius: 4px;
}

.header_nav-links li a:hover {
  background-color: #ffc107;
  color: #292929;
}

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    padding-bottom: 60px; /* Adjust the padding-bottom value to accommodate the footer height */
  }

  footer {
    background-color: #12242E;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
  }

  .footer_containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    color: #fff;
  }

  .footer_containers p {
    flex: 1;
    margin: 0;
  }

  .footer_containers ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .footer_containers li {
    margin: 0 10px;
  }

  .footer_containers a {
    color: #fff;
    text-decoration: none;
  }

  .footer_containers p {
    color: #fff;
  }

  .footer_containers a:hover {
    text-decoration: underline;
    color: orange;
  }