<!DOCTYPE html>
<html>
<head>
    <title>Edmonton Chess Club</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="header_body">
    <header class="header_site-header">
        <div class="header_container">
            <div class="header_logo">
                <img src="/views/logo.png" alt="Edmonton Chess Club Logo">
                <h1>Edmonton Chess Club</h1>
            </div>
            <nav>
                <ul class="header_nav-links">
                    <li><a href="/login">Login</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="events.html">Events</a></li>
                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </div>
    </header>
    <!-- Rest of your webpage content goes here -->
</body>
</html>
