<nav>
    <div class="site-title">
      <a href="/"><h1>Event Pro</h1></a>
      <p>Event Pro Site</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>